@model TaskManager.Web.Models.TaskViewModel

@{
    ViewBag.Title = "Editar Tarefa";
}

<h2>Editar Tarefa</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Id)

    <div>
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title)
    </div>
    <div>
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description)
    </div>
    <div>
        @Html.LabelFor(m => m.IsCompleted)
        @Html.CheckBoxFor(m => m.IsCompleted)
    </div>
    <div>
        <input type="submit" value="Salvar" />
    </div>
}
